In [5]:
import pandas as pd
import numpy as np

In [32]:
cols = ['class','AA','name','number','rel_surf_acc','abs_surf_acc','z','prob_helix','prob_sheet','prob_coil']
df=pd.read_fwf('netsurf_example_output.txt',comment='#',header=None,names=cols,infer_nrows=10000)

In [33]:
df

,class,AA,name,number,rel_surf_acc,abs_surf_acc,z,prob_helix,prob_sheet,prob_coil
0,E,A,2WNS.A.1,1,0.777,85.680,1.547,0.003,0.003,0.994
1,E,L,2WNS.A.1,2,0.281,51.451,0.503,0.802,0.014,0.185
2,E,G,2WNS.A.1,3,0.530,41.687,1.558,0.938,0.007,0.055
3,E,P,2WNS.A.1,4,0.549,77.846,2.101,0.938,0.007,0.055
4,B,L,2WNS.A.1,5,0.074,13.531,0.513,0.938,0.007,0.055
...,...,...,...,...,...,...,...,...,...,...
193,B,F,2WNS.A.1,194,0.132,26.472,0.674,0.923,0.002,0.076
194,E,I,2WNS.A.1,195,0.339,62.807,0.927,0.782,0.003,0.216
195,E,Q,2WNS.A.1,196,0.776,138.540,1.328,0.502,0.002,0.495
196,E,E,2WNS.A.1,197,0.931,162.576,1.532,0.016,0.005,0.979
197,E,K,1ABC.D.2,1,0.545,112.086,1.328,0.018,0.019,0.964

Now I want to get a df with the following cols:
- length
- name
- sequence
- abs_surf_acc
- rel_surf_acc
- prob_helix
- prob_sheet
- prob_coil
- uniprot_id

In [10]:
df.groupby('name')['number'].max()

name
2WNS.A.1    197
Name: number, dtype: int64

In [38]:
max_lengths = df.groupby('name')['number'].max()
max_lengths.name = 'length'
df.merge(max_lengths,left_on='name',right_on='name')

,class,AA,name,number,rel_surf_acc,abs_surf_acc,z,prob_helix,prob_sheet,prob_coil,length
0,E,A,2WNS.A.1,1,0.777,85.680,1.547,0.003,0.003,0.994,197
1,E,L,2WNS.A.1,2,0.281,51.451,0.503,0.802,0.014,0.185,197
2,E,G,2WNS.A.1,3,0.530,41.687,1.558,0.938,0.007,0.055,197
3,E,P,2WNS.A.1,4,0.549,77.846,2.101,0.938,0.007,0.055,197
4,B,L,2WNS.A.1,5,0.074,13.531,0.513,0.938,0.007,0.055,197
...,...,...,...,...,...,...,...,...,...,...,...
193,B,F,2WNS.A.1,194,0.132,26.472,0.674,0.923,0.002,0.076,197
194,E,I,2WNS.A.1,195,0.339,62.807,0.927,0.782,0.003,0.216,197
195,E,Q,2WNS.A.1,196,0.776,138.540,1.328,0.502,0.002,0.495,197
196,E,E,2WNS.A.1,197,0.931,162.576,1.532,0.016,0.005,0.979,197
197,E,K,1ABC.D.2,1,0.545,112.086,1.328,0.018,0.019,0.964,1

In [28]:
max_lengths.index

Index(['2WNS.A.1'], dtype='object', name='name')

In [ ]:
import requests